### Custom material from the directory ###
*/output/
/upload/
/cache/

# Log bin
/logs/
*.log

### PyCharm ###
/.idea/

### VS Code ###
.vscode

### Python ###
# Cache
__pycache__
# Distribution / packaging
/src/

### macOS
.DS_Store