[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
black = "*"

[packages]
click = "==7.0"
docopt = "==0.6.2"
gunicorn = "==19.9.0"
isodate = "==0.5.4"
itsdangerous = "==1.1.0"
lbp-print = {editable = true,git = "https://github.com/stenskjaer/lbp_print.git",ref = "master"}
lbppy = {editable = true,git = "https://github.com/lombardpress/lbppy.git",ref = "f272e44429fcbd3f19384471c9cfb3903100fb30"}
lxml = "==4.4.1"
pyparsing = "==2.2.0"
rdflib = "==4.2.2"
redis = "==3.3.8"
regex = "==2018.8.17"
rq = "==1.1.0"
samewords = "==0.5.3"
untangle = "==1.1.0"
Flask = "==1.1.1"
Jinja2 = "==2.10.1"
MarkupSafe = "==1.1.1"
SPARQLWrapper = "==1.8.0"
Werkzeug = "==0.15.5"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
