Click==7.0
docopt==0.6.2
Flask==1.1.1
gunicorn==19.9.0
isodate==0.5.4
itsdangerous==1.1.0
Jinja2==2.10.1
-e git+https://github.com/stenskjaer/lbp_print.git@master#egg=lbp_print
-e git+https://github.com/lombardpress/lbppy.git@f272e44429fcbd3f19384471c9cfb3903100fb30#egg=lbppy
lxml==4.4.1
MarkupSafe==1.1.1
pyparsing==2.2.0
rdflib==4.2.2
redis==3.3.8
regex==2018.8.17
rq==1.1.0
samewords==0.5.3
SPARQLWrapper==1.8.0
untangle==1.1.0
Werkzeug==0.15.5
