click==6.7
docopt==0.6.2
Flask==0.12
Flask-WTF==0.14.2
isodate==0.5.4
itsdangerous==0.24
Jinja2==2.9.5
-e git://github.com/stenskjaer/lbp_print.git@a5914816b70277d7bd85ffe0f6bd4ef22b3a569f#egg=lbp_print
-e git://github.com/lombardpress/lbppy.git@f272e44429fcbd3f19384471c9cfb3903100fb30#egg=lbppy
lxml==3.7.3
MarkupSafe==1.0
pyparsing==2.2.0
rdflib==4.2.2
SPARQLWrapper==1.8.0
untangle==1.1.0
Werkzeug==0.12
WTForms==2.1
