{% extends "frame.html" %}
{% from "_formhelpers.html" import render_field, render_radio_field %}
{% block body %}


  <section id="form_section" class="framed">
    <form  id="transcription_form" action="/upload" method="post" enctype="multipart/form-data">
      {{ form.csrf_token }}


      {{ render_radio_field(form.xml_upload_remote) }}

      {{ render_field(form.scta_id, size=40, placeholder="E.g. http://scta.info/resource/lectio1") }}

      {{ render_field(form.xml_upload) }}
      <div id="xml_upload_list"></div>

      {{ render_radio_field(form.xslt_upload_default) }}

      {{ render_field(form.xslt_upload) }}
      <div id="xslt_upload_list"></div>

      {{ render_radio_field(form.pdf_tex) }}

      <p><input class="btn btn-default" type="submit" value="Run">
    </form>

    <div id="log"></div>

  </section>
{% endblock %}