docopt==0.6.2
isodate==0.5.4
-e git+https://github.com/lombardpress/lbppy.git@f272e44429fcbd3f19384471c9cfb3903100fb30#egg=lbppy
lxml==3.7.3
pyparsing==2.2.0
rdflib==4.2.2
SPARQLWrapper==1.8.0
untangle==1.1.0
